:root {
    --ple-c-max: rgb(255,53,127);
    --ple-c-high: rgb(204,60,154);
    --ple-c-default: rgb(152,68,183);
    --ple-c-low: rgb(87,111,230);
    --ple-c-min: rgb(59,173,227);
    --ple-c-active: var(--ple-c-default);
    --ple-c-inactive: rgb(128,128,128, 1);
    --ple-c-hover-bg: rgb(200,200,200, 0.25);
}