@import "./_media.pcss";

:root {
  --ple-s-player-height: 4rem;
  --ple-s-max-width: 100vw;

  @media (--m) {
    --ple-s-player-height: 5rem;
  }

  @media (--xl4) {
    --ple-s-max-width: 2000px;
  }
}
